@import url(reset.css);

/*шрифты
font-family: 'Kaushan Script', cursive;
font-family: 'Nunito', sans-serif;
*/

body{
	font-family: 'Nunito', sans-serif;
}

.container{
	width: 1118px;
	margin: 0 auto;
}

h3{
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
}

h4{
	font-size: 14px;
	margin-bottom: 18px;
	letter-spacing: 0.35px;
	font-weight: 600;
	line-height: 18px;
}

a{
	text-decoration: none;
}










.arrow-previous, 
.arrow-next,
.brands:before,
.btn-next-section{
    content: '';
	background: url(../images/icons/css_sprites.png);
}

/*--------------навигация------------------*/

.nav-bar{
	display: flex;
	justify-content: space-between;
	padding-top: 65px;
	position: relative;
	z-index: 5;
}


.logo{
	font-family: 'Kaushan Script', cursive;
	color: #fff;
	font-size: 36px;
	font-weight: 400;
	line-height: 48px;
	text-align: left;
	letter-spacing: 0.9px;
}

.menu{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.menu>li{
	margin-right: 40px;
}

.menu>li.active{
	border-bottom: 2px solid #fff;
}

.menu>li>a{
	display: block;
	color: #fff;
	font-size: 18px;
	padding-bottom: 10px;
}

/*-------------вступление-------------------*/

.intro{
	background: url(../images/backgrounds/bg_bread_image.jpg) no-repeat;
    background-size: cover;
	padding-top: 115px;
	margin-top: -115px;
	text-align: center;
	position: relative;
    padding-bottom: 31px;
}

.intro:before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.5);
}

.intro__content{
	position: relative;
	z-index: 5;	
}

.intro__description{
	padding-top: 105px;
	color: #fff;

}

.intro__description>h2{
	font-size: 48px;
	letter-spacing: 1.2px;
	line-height: 60px;
}

.intro__description>h2>span{
	vertical-align: super;
	font-size: 36px;
}

.intro__description>h2+p{
	font-size: 44px;
	letter-spacing: 1px;
}


.intro__description>h2+p+p{
	padding-top: 47px;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.45px;
}

.intro__description>h2+p+p+p{
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.45px;
}


.intro__btn-group{
	padding-top: 45px;
	font-size: 0;
	padding-bottom: 80px;
}

.intro__btn{
	font-size: 14px;
	box-sizing: border-box;
	display: inline-block;
	width: 160px;
	height: 40px;
	border: 2px solid #fff;
	color: #fff;
	padding-top: 10px;
	margin: 0 15px;
}

.btn-next-section{
    display: block;
    width: 40px; height: 21px;
    background-position: -46px -28px;
    margin: 0 auto;
}


/*-------------раздел what's inside------------*/

.what-inside{
	min-height: 580px;
	background: url(../images/backgrounds/bg_white_paper.jpg) no-repeat;
    background-size: cover;
	padding-top: 62px;
}

.what-inside__description{
	text-align: center;
}

.what-inside__description>h3{
	padding-bottom: 36px;
}

.what-inside__description>p{
	color: #0f1417;
	font-size: 14px;
	line-height: 30px;
}

/*----------------раздел bread-line----------------*/

.bread-line{
	min-height: 300px;
	padding-top: 62px;
	padding-bottom: 64px;
}

.bread-line__body>h3{
	margin-bottom: 41px;
}

.bread-line__body .bread-line__carousel{
	max-width: 733px;
	margin: 0 auto 46px;
	position: relative;
}

.bread-line__item{
	text-align: center;
	box-shadow: 0 10px 9px rgba(2, 6, 18, 0.06);	
	margin: 0 15px;
	padding: 19px 10px 38px;
	width: 160px;
	box-sizing: border-box;	
}

.bread-line__body .bread-line__carousel .bread-line__item>img{
	width: 110px;
	height: 110px;
	margin: 0 auto 20px;
}

.bread-line__features{
	font-size: 10px;
	margin-bottom: 16px;
}

.bread-line__price{
	font-size: 16px;
	font-weight: 700;
}

.arrow-previous{
	position: absolute;
	width: 16px; height: 27px;
	background-position: -2px -83px;
	top: 50%;
	left: -56px;
	transform: translateY(-50%);
}

.arrow-next{
	position: absolute;
	width: 16px; height: 27px;
	background-position: -94px -53px;
	top: 50%;
	right: -56px;
	transform: translateY(-50%);
}

.bread-line__carousel.owl-carousel .owl-dots{
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.bread-line__carousel.owl-carousel button.owl-dot{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 3px;
    margin-top: 42px;
}

.bread-line__carousel.owl-carousel button.owl-dot:last-child{
    margin-right: 0;
}

button.owl-dot:focus,
button.owl-dot.active:focus{
    outline: none;
}

.bread-line__carousel.owl-carousel .owl-nav{
	height: 0;
}

.bread-line__body>p{
	text-align: center;
	line-height: 24px;
	font-size: 14px;
}

.bread-line__body .intro__btn-group{
	text-align: center;
	padding-bottom: 0;
}

.bread-line__body .intro__btn-group .intro__btn{
	color: #000;
	border-color: #000;
	text-align: center;
}

/*----------------раздел where to buy------------------*/

.where-to-buy {
    padding-top: 63px;
    padding-bottom: 57px;
    background: url(../images/backgrounds/bg_dough.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.where-to-buy:before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.5);
}

.where-to-buy__body{
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 5;
}

.where-to-buy .container {
}
.where-to-buy h3 {
    margin-bottom: 31px;
}
.where-to-buy p {
    font-size: 14px;
    line-height: 30px;
}

.where-to-buy__body>p+p{
    padding-bottom: 40px;
}

.brands{
    width: 735px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 35px;
    align-items: center;
    position: relative;
}

.brands:before{
    width: 120px; height: 9px;
    background-position: -2px -2px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.brand__item{
    padding-bottom: 36px;
}


/*-----------------раздел facts about BackeryBo------------*/

.facts {
    padding-top: 77px;
    padding-bottom: 61px;
}
.facts .container {
}
.facts h3 {
   margin-bottom: 50px; 
}
.facts .facts__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 61px;
}
.facts .facts__item {
    width: 150px;
    padding-top: 90px;
    position: relative;
}

.facts__item:before{
    content: '';
    position: absolute;
    background: url(../images/icons/css_sprites_facts.png);
    width: 60px; height: 60px;;
    background-position: -67px -2px;;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.facts__item+li:before{
    width: 55px; height: 55px;
    background-position: -131px -57px;
}

.facts__item+li+li:before{
    width: 61px; height: 51px;
    background-position: -131px -2px;
}

.facts__item+li+li+li:before{
    width: 60px; height: 30px;
    background-position: -67px -67px;
    top: 15px;
}

.facts__item+li+li+li+li:before{
    width: 61px; height: 57px;
    background-position: -2px -67px;
    top: 0;
}

.facts__item+li+li+li+li+li:before{
   width: 61px; height: 61px;
    background-position: -2px -2px;
}

.facts h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
}
.facts p {
    font-size: 14px;
    line-height: 18px;
}

.facts .btn-next-section {
    background-position: -2px -28px;
}



































































